.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 16px;
  background-color: black;
}

.navRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.navRight-item {
  margin: 2%;
  text-align: right;
}

.navRight-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20pxz;
  cursor: pointer;
}

.navLeft {
  display: flex;
  align-items: center;
}

.navLeft img {
  max-width: 150px;
}

.navRight img {
  max-width: 25px;
}

.nav-contents {
  align-self: flex-end;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.image-container {
  max-width: 400px;
  padding-left: 20px;
}

.footer {
  display: flex;
  background-color: black;
  color: white;
  padding: 50px;
  text-align: center;
  margin-top: auto; /* Push the footer to the bottom */
}

.footer img {
  width: 240px;
  height: auto;
  margin-right: 10px;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 100px;
  line-height: 1.5;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 150px;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 22px;
  color: #62BC46;
}

.footer-right p:not(:last-child) {
  margin-bottom: 0;
}

.split-container {
  display: flex;
  width: 100%;
}

/* Left column */

.chart-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 33.3%;
  align-self: center;
  padding-top: 20px;
}

.chart-label {
  align-self: center; /* Center vertically within the container */
  margin-bottom: 20px; /* Add some bottom margin for spacing */
  color: #5C5C5C;
  font-size: 30px;
}

.nothing-to-display {
  align-self: center;  /* Center vertically within the container */
  margin-bottom: 20px;  /* Add some bottom margin for spacing */
  color: #5C5C5C;
  font-size: 15px;
}

#channelSelector {
  width: auto;  /* Adjust the width as needed */
  align-self: center;  /* Center horizontally within the container */
  margin-bottom: 30px;
}

.charts {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex: 1;  /* Allow the charts container to grow and fill available space */
  margin-bottom: 30px;
  margin-top: 30px;
}

.chart {
  height: 200px;
  padding-top: 30px;
  width: 100%;
}

input[type='range'] {
  accent-color: #62BC46;
}

/* Right column */

.eegCapImage {
  width: 33.3%;  /* Take up 33% of the available width in the right side */
  max-width: 700px;  /* Limit the maximum width of the image */
  padding-top: 20px;
}

.eegCapImage img {
  width: 100%;  /* Take up 100% of the container width */
  height: auto;  /* Maintain aspect ratio */
  align-self: center;  /* Position in the middle of the container */
}

/* Middle column */

.displayOnHuman {
  width: 33.3%;  /* Take up 33% of the available width in the middle */
  max-width: 700px;  /* Limit the maximum width of the image */
  padding-top: 40px;
}

.displayOnHuman img {
  width: 55%;  /* Take up 50% of the container width */
  height: auto;  /* Maintain aspect ratio */
  align-self: center;  /* Position in the middle of the container */
}

.resetChannelsContainer {
  align-items: right;

}

.resetChannels {
  background-color: #62bc46;  /* Green background color */
  color: white;  /* White text color */
  padding: 10px 10px;  /* Padding for better appearance */
  font-size: 20px;  /* Font size */
  text-shadow: #5C5C5C;
  border: none;  /* No border */
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  width: 180px;


}